.custom-container {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-container-content {
    margin-bottom: 15px;
}

.custom-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
}

.custom-container-header h5 {
    color: #000000;
    margin: 0;
}

.btnVoltar {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
}

.btnVoltar:hover {
    background-color: #c82333;
}

.custom-container-body {
    padding: 10px 0;
}

.custom-container-body ul {
    list-style-type: none;
    padding: 0;
}

.custom-container-body li {
    margin-bottom: 10px;
}

.btnRemove {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.btnRemove:hover {
    background-color: #c82333;
}

.custom-container-footer {
    text-align: right;
}

.btnLimpar {
    background-color: #f69738;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
}

.btnLimpar:hover {
    background-color: #f58f2a;
}